.button{
	border-radius: 0px;
}
.login-btn{
	padding-top: 7px;
}
.form-container{
	padding: 10px;
}
.header{
	padding-top: 10px;
}
.header-wrapper{
	display: flex;
}
.back-btn{
	flex: 1;
	padding: 10px;
}
.header-text{
	flex: 2;
}